@import url("https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@700&display=swap");

:root {
  --black: #181823;
  --blue: #537fe7;
  --lightBlue: #c0eef2;
  --white: #e9f8f9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.about {
  background-color: var(--black);
  height: 100vh;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.xo {
  font-family: "Tsukimi Rounded";
  position: absolute;
  color: red;
}
