.layer1 {
  background-image: url("../images/wave.svg");
  background-size: cover;
}

.layer2 {
  background-image: url("../images/wave2.svg");
}

.layer3 {
  background-image: url("../images/wave3.svg");
}

.layer4 {
  background-image: url("../images/wave4.svg");
}

.layer5 {
  background-image: url("../images/wave5.svg");
}

.layer6 {
  background-image: url("../images/wave6.svg");
}
