.contact {
  height: 100vh;
  padding: 7rem;
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.conta

.icon-item {
  font-size: 5rem;
}

.invert-icon{
  filter: invert(1);
  width: 5.2rem;
}
