.contact {
  padding: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--main);
  font-family: "Courier New", Courier, monospace;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 3rem;
}

.icon-item {
  font-size: 4rem;
}

.icons-list {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.invert-icon {
  filter: invert(1);
  width: 5.5rem;
}

.contact-image {
  border-radius: 50%;
  height: 25rem;
  margin-left: 4rem;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 920px) {
  .contact {
    padding: 2rem;
    justify-content: center;
  }

  .contact-image {
    height: 10rem;
    display: none;
  }

  .contact-info {
    font-size: 2rem;
    text-align: center;
  }

  .icons-list {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1rem;
  }

  .icon-item,
  .icons-list img {
    font-size: 3rem;
    width: 3.8rem;
  }
}
