.contact {
  padding: 10rem;
  display: flex;
  gap: 19rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--main);
  font-family: "Courier New", Courier, monospace;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 3rem;
}

.icon-item {
  font-size: 4rem;
}

.icons-list {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.invert-icon {
  filter: invert(1);
  width: 5.5rem;
}
.contact-image {
  border-radius: 50%;
  height: 25rem;
}

a {
  text-decoration: none;
  color: white;
}
