@import url("https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap");

:root {
  --primary: #13445a;
  --secondary: #970747;
  --accent: #446878;
  --main: #fef4e8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  background-color: var(--primary);
  overflow-x: hidden;
}

.blob-one {
  position: absolute;
  top: -18rem;
  left: -25rem;
  animation-name: slideInTop;
  animation-duration: 0.7s;
}

.blob-two {
  position: absolute;
  bottom: -18rem;
  right: -27rem;
  overflow: hidden;
  rotate: 240deg;
  animation-name: slideInBottom;
  animation-duration: 0.7s;
}

.blob-three {
  position: absolute;
  top: -18rem;
  right: -26rem;
  animation-name: slideInTop;
  animation-duration: 0.7s;
}

.blob-one,
.blob-two,
.blob-three {
  -webkit-user-drag: none;
  z-index: -10;
}

.about {
  height: 100vh;
  color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-name {
  font-family: "Palanquin Dark";
  font-size: 4.5rem;
  margin: -2rem;
}

#main-title {
  font-family: "Palanquin Dark";
  font-size: 5rem;
}

/* Blob Animation */
@keyframes slideInTop {
  from {
    transform: translateX(-8rem);
    transform: translateY(-6rem);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  from {
    transform: translateX(6rem);
    transform: translateY(6rem);
  }

  to {
    transform: translateX(0);
  }
}

/* Mobile Responsive */
@media (max-width: 920px) {
  #main-name {
    font-size: 3rem;
  }

  #main-title {
    font-size: 3.2rem;
  }

  .blob-two,
  .blob-three {
    display: none;
  }

  .main-text {
    display: block;
    text-align: center;
    line-height: 4rem;
  }

  #main-name {
    margin: 0;
  }
}
