@import url("https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap");

:root {
  --primary: #13445a;
  --secondary: #970747;
  --accent: #446878;
  --main: #fef4e8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary);
  overflow-x: hidden;
}

.blob-one {
  position: absolute;
  top: -18rem;
  left: -25rem;
}

.blob-two {
  position: absolute;
  bottom: -18rem;
  right: -27rem;
  overflow: hidden;
  rotate: 240deg;
}

.blob-three {
  position: absolute;
  top: -18rem;
  right: -26rem;
}

.about {
  height: 100vh;
  color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-name {
  font-family: "Palanquin Dark";
  font-size: 6rem;
}

#main-title {
  font-family: "Palanquin Dark";
  font-size: 4rem;
}

.xo {
  font-family: "Tsukimi Rounded";
  position: absolute;
  color: red;
  font-size: 3rem;
}
