:root {
  --black: #181823;
  --blue: #537fe7;
  --lightBlue: #c0eef2;
  --white: #e9f8f9;
}

.project-container {
  display: flex;
  flex-direction: row;
  color: var(--white);
  padding: 2.5rem 1.2rem;
  gap: 2rem;
  font-family: "Open Sans";
  width: 88%;
  margin-bottom: 5rem;
  align-items: center;
}

.project-image img {
  height: 21rem;
}

.project-title {
  margin-left: 2.2rem;
  border: 1px solid var(--blue);
  width: fit-content;
  padding: 0.55rem;
  font-weight: bold;
}

.project-desc {
  border: 1px solid var(--white);
  padding: 2rem;
}

.project-desc hr {
  margin-top: 4rem;
}

.project-text {
  font-size: 1.1rem;
}

.project-links {
  display: flex;
  /* border: 1px solid white; */
  flex-direction: row-reverse;
  gap: 1rem;
}

.link a {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.project-links img {
  width: 2rem;
  filter: invert(1);
}
