.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 0.8rem;
  font-family: "Open Sans";
  border: 6px solid var(--secondary);
  transition: transform 0.2s ease-in-out;
}

.skill-container:hover {
  transform: scale(1.12);
}

.skill-container img {
  width: 3.5rem;
  height: fit-content;
  filter: invert(1);
  margin: 1rem;
}

.skill-container p {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 920px) {
  .skill-container img {
    width: auto;
  }
}
